
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background:#d4a752;
}

.wrapper {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1vw auto 0;  
  overflow: hidden; 
  background-color: #f5e1bf;
  border-radius: 1rem;
  border: 0.5rem solid #b44f1e;
}

.slider {
 width: 100%;
}

.slider-wrapper {
  display: flex;
  width: 500%; 
}

.wrapper > input {
	display: none;
}

.slides {
  width: 20%;
  transition: 1s;

  img {
    width: 100%;
  }
}

.titles {
 width: 70%;
 overflow: hidden;
 
}

.title-wrapper {
  display: flex;
  width: 500%;
  overflow: hidden;
}

.slider-title {
  width: 20%;
  padding: 0 0.2rem 0;
  transition: 1s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: rgb(22, 21, 21);
  opacity: 0;  
}

.wrapper label {
	cursor: pointer;	
	margin: 10px;	
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.controls label { 
  display: flex;
  width: 0.7rem;
  height: 0.7rem;
  border: 0.13rem solid rgb(78, 78, 70);
  box-shadow: 0 0 0.13rem rgba(0, 0, 0, 0.3);
}

.controls {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

#slide1:checked ~ .titles >.title-wrapper > .title1,
#slide2:checked ~ .titles >.title-wrapper > .title2,
#slide3:checked ~ .titles >.title-wrapper > .title3,
#slide4:checked ~ .titles >.title-wrapper > .title4,
#slide5:checked ~ .titles >.title-wrapper > .title5 {
  opacity: 1;
}

#slide1:checked ~ .titles > .title-wrapper > .title1 {
  margin-left: 0;
}

#slide2:checked ~ .titles > .title-wrapper >.title1 {
  margin-left: -20%;
}
#slide3:checked ~ .titles > .title-wrapper >.title1{
  margin-left: -40%;
}

#slide4:checked ~ .titles > .title-wrapper >.title1 {
  margin-left: -60%;
}

#slide5:checked ~ .titles > .title-wrapper >.title1 {
  margin-left: -80%;
}

#slide1:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: 0;
}

#slide2:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -20%;
}

#slide3:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -40%;
}

#slide4:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -60%;
}

#slide5:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -80%;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: rgb(189, 122, 55);
}
