* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d4a752;
}

h1 {
  width: 12rem;
  margin: 1rem auto;
  color: #b44f1e;
  text-shadow: -0.06rem -0.06rem 0 #603d10, -0.12rem -0.12rem 0.06rem #603d10;
}

@media (max-width: 56rem) {
  h1 {
    margin: 2rem auto 0;
  }
}

@media (max-width: 20rem) {
  h1 {
    margin: 5rem auto 0;
  }
}

.wrapper {
  width: 53vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1vw auto 0;
  overflow: hidden;
  background-color: #f5e1bf;
  border-radius: 1rem;
  border: 0.2rem solid #b44f1e;
}

@media (max-width: 56rem) {
  .wrapper {
    flex-direction: column;
    width: 65vw;
    margin: 4vw auto 0;
  }
}

@media (max-width: 30rem) {
  .wrapper {
    width: 90vw;
    margin: 8vw auto 0;
    border: 0.3rem solid #b44f1e;
  }
}

.slider {
  width: 100%;
}

@media (max-width: 48rem) {
  .slider {
    order: 1;
  }
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
}

.wrapper > input {
  display: none;
}

.slides {
  width: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.slides img {
  width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.titles {
  width: 70%;
  overflow: hidden;
}

@media (max-width: 65rem) {
  .titles {
    width: 65%;
  }
}

@media (max-width: 56rem) {
  .titles {
    order: 3;
    width: 100%;
  }
}

.title-wrapper {
  display: flex;
  width: 500%;
  align-items: center;
  overflow: hidden;
}

.slider-title {
  width: 20%;
  padding: 0 0.2rem 0;
  transition: 1s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: #161515;
  opacity: 0;
}

@media (max-width: 65rem) {
  .slider-title {
    font-size: 1rem;
  }
}

@media (max-width: 20rem) {
  .slider-title {
    padding: 0 0 0 0.2rem;
  }
}

.wrapper label {
  cursor: pointer;
  border-radius: 50%;
}

.controls label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.1rem;
  justify-content: center;
  align-items: center;
}

.controls label:hover .controls-item {
  transform: scale(1.1);
  background: #bd7a37;
}

.controls-item {
  margin: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 0.13rem solid #4e4e46;
  box-shadow: 0 0 0.13rem rgba(0, 0, 0, 0.3);  
  transition: background ease-in-out .5s;
}

@media (max-width: 20rem) {
  .controls-item {
    width: 0.7rem;
    height: 0.7rem;
    border: 0.13rem solid #4e4e46;
  }
}

.controls {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 65rem) {
  .controls {
    width: 35%;
  }
}

@media (max-width: 48rem) {
  .controls {
    order: 2;
    width: 10.2rem;
  }
}

#slide1:checked ~ .titles > .title-wrapper > .title1,
#slide2:checked ~ .titles > .title-wrapper > .title2,
#slide3:checked ~ .titles > .title-wrapper > .title3,
#slide4:checked ~ .titles > .title-wrapper > .title4,
#slide5:checked ~ .titles > .title-wrapper > .title5 {
  opacity: 1;
}

#slide1:checked ~ .titles > .title-wrapper > .title1 {
  margin-left: 0;
}

#slide2:checked ~ .titles > .title-wrapper > .title1 {
  margin-left: -20%;
}

#slide3:checked ~ .titles > .title-wrapper > .title1 {
  margin-left: -40%;
}

#slide4:checked ~ .titles > .title-wrapper > .title1 {
  margin-left: -60%;
}

#slide5:checked ~ .titles > .title-wrapper > .title1 {
  margin-left: -80%;
}

#slide1:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: 0;
}

#slide2:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -20%;
}

#slide3:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -40%;
}

#slide4:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -60%;
}

#slide5:checked ~ .slider > .slider-wrapper > .slide1 {
  margin-left: -80%;
}

#slide1:checked ~ .controls label:nth-child(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #bd7a37;
}
